# this is /lib/systemd/system/your_cmd.service
# (or /lib/systemd/system/your_cmd.service dependent on 
#  your linux distribution flavor )
[Unit]
Description=DocServer
After=network.target syslog.target

[Install]
WantedBy=multi-user.target

[Service]
# see man systemd.service 
Type=simple
WorkingDirectory=/home/saymon/Documents/C-Programs/Sistemas-Operativos-Tarea1/src/server
ExecStart=/home/saymon/Documents/C-Programs/Sistemas-Operativos-Tarea1/src/server/server
RemainAfterExit=true
ExecStop=/home/saymon/Documents/C Programs/Sistemas Operativos - Tarea 1/src/daemon/DocServer-stop.sh
StandardOutput=journal
Restart=on-failure
RestartSec=1

